@font-face {
  font-family: "Gilroy";
  src: url("./gilroy/Gilroy-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("./gilroy/Gilroy-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("./gilroy/Gilroy-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Gilroy", sans-serif;
  background-color: #f8f8f8;
}

/* general classes */
.bold {
  font-weight: bold;
}

.gray-rounded-button {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 1px solid #c4c4c4;
  background-color: transparent;
}

/* header */

.header {
  position: sticky;
  background-color: #fff;
  top: 0;
  z-index: 999;
  padding: 0.5rem 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.header .logo {
  width: 33.3%;
}
.header .logo img {
  height: 40px;
  width: 150px;
}
.header .links {
  width: 33.3%;
}
.header .links ul {
  display: flex;
  justify-content: center;
  list-style: none;
  gap: 1rem;
  padding: 0;
}
.header .links ul li {
  color: #f19622;
}
.header .links ul li a {
  color: #f19622;
  text-decoration: none;
}
.header .action-buttons {
  width: 33.3%;
  display: flex;
  gap: 2rem;
  justify-content: flex-end;
}
.header .action-buttons .search {
  padding-top: 5px;
}
.header .action-buttons .menu {
  padding-top: 10px;
}
.header .action-buttons button img {
  width: 90%;
}

/* header media query */

@media (max-width: 900px) {
  .header {
    padding: 0.5rem 3rem;
  }
}

/* carousel */

.carousel-container {
  width: 100%;
  height: 80vh;
  position: relative;
  background-color: #fff;
}

.swiper {
  width: 100%;
  height: auto !important;
}

.swipper .swipper-wrapper {
  width: 100%;
  height: auto !important;
}

.swiper-slide {
  display: flex !important;
  position: relative;
  justify-content: flex-end;
  background-color: #fff;
}

.swiper-slide .text {
  position: absolute;
  left: 8%;
  top: 15%;
  line-height: 10px;
}
.swiper-slide .text h1 {
  color: #ff9900;
  font-size: 6rem;
  font-weight: bolder;
}
.swiper-slide .text h3 {
  font-size: 4rem;
}

.swiper-slide .text button {
  background-color: #f19622;
  border-radius: 30px;
  padding: 20px 40px;
  font-weight: bold;
  border: none;
  font-size: 2rem;
  cursor: pointer;
}
.swiper-slide .text button a {
  text-decoration: none;
  color: #fff;
}

.swiper-slide .slide-3 {
  width: 60%;
}

.swiper-slide img {
  width: 50%;
  height: 700px;
  object-fit: fill;
}

/* Flechas */
.swiper-button-next,
.swiper-button-prev {
  color: #ff9900 !important;
}

/* Puntitos */
.swiper-pagination {
  bottom: 30px !important;
}

.swiper-pagination-bullet {
  background-color: transparent !important;
  border: 3px solid #ff6600;
  opacity: 1;
  width: 6px !important;
  height: 6px !important;
}

.swiper-pagination-bullet-active {
  background-color: #ff6600 !important;
}

/* carousel media query */

@media (max-width: 1200px) {
  .carousel-container {
    height: auto;
  }
  .swiper-slide .text {
    top: 25%;
  }

  .swiper {
    height: 500px !important;
  }
  .swiper .swiper-wrapper {
    height: 500px !important;
  }

  .swiper-slide .text h1 {
    font-size: 4rem;
  }
  .swiper-slide .text h3 {
    font-size: 2rem;
  }

  .swiper-slide img {
    width: 70% !important;
  }

  .swiper-slide .text button {
    padding: 12px 25px;
    font-size: 1.5rem;
  }
}

/* booking */
.wrapper-booking {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -20px;
  z-index: 999;
}

.wrapper-booking .form-booking {
  background-color: #fff;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  width: 1100px;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  gap: 1rem;
  z-index: 999;
}

.wrapper-booking .form-booking .form-control {
  display: flex;
  flex-direction: column;
  width: 25%;
  margin-left: 30px;
  gap: 15px;
}
.wrapper-booking .form-booking .form-control .title {
  display: flex;
  align-items: center;
  gap: 10px;
}
.wrapper-booking .form-booking .form-control .title img {
  width: 20px;
  height: 20px;
}
.wrapper-booking .form-booking .form-control .title h3 {
  font-weight: bold;
  margin: 5px;
}
.wrapper-booking .form-booking .form-control .input {
}
.wrapper-booking .form-booking .form-control .input input {
  border: 1px solid #c4c4c4;
  font-weight: bold;
  color: #c4c4c4;
  padding: 10px;
  width: 100%;
}
.wrapper-booking .form-booking .form-control .submit-button {
  height: 100%;
  display: flex;
  align-items: flex-end;
  width: 70%;
}
.wrapper-booking .form-booking .form-control .submit-button button {
  background-color: #f19622;
  color: #fff;
  font-weight: bold;
  border: none;
  padding: 10px;
  width: 100%;
}

/* nosotros */

.we {
  margin-top: -20px;
  position: relative;
}

.we .side-image {
  object-fit: contain;
  background-color: white;
}
.we .side-image img {
  object-fit: contain;
  width: 60%;
}
.we .content {
  position: absolute;
  top: 20%;
  right: 10%;
  /* line-height: 20px; */
}
.we .content p {
  margin: 0;
  color: #f19622;
  font-weight: bold;
  margin-left: 2.5rem;
}
.we .content h2 {
  color: #f19622;
  font-size: 6rem;
  margin-bottom: 0;
  margin-top: 0;
  line-height: 1;
}
.we .content .gray {
  color: #404041;
}
.we .content .white-box-with-orange-frange {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  max-width: 700px;
  padding: 1rem 1rem 1rem 2rem;
  border-left: 5px solid #f19622;
  margin-top: 1rem;
  margin-left: 1rem;
}
.we .content .white-box-with-orange-frange p {
  font-size: 1.7rem;
  color: #7a7a7b;
  font-weight: normal;
}

/* we media query */

@media (max-width: 1660px) {
  .we {
    width: 100%;
  }
  .we .content {
    position: absolute;
    top: 20%;
    right: 7%;
  }
  .we .content p {
    margin: 0;
  }
  .we .content h2 {
    font-size: 3rem;
  }

  .we .content .white-box-with-orange-frange {
    max-width: 400px;
  }
  .we .content .white-box-with-orange-frange p {
    font-size: 1rem;
  }
}

/* history */

.history {
  background-image: url(assets/Celuular.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #f19622;
  width: 100%;
  position: relative;
}

.history .content {
  line-height: 5.5rem;
  padding: 7rem;
}
.history .content h3 {
  color: #404041;
  margin: 0;
  font-size: 4.5rem;
}
.history .content h2 {
  color: #fff;
  margin: 0;
  font-size: 8rem;
  margin-bottom: 20px;
}
.history .content p {
  margin: 0;
  color: #fff;
  font-size: 2.5rem;
  line-height: 3rem;
  font-weight: lighter;
}

/* history media query */

@media (max-width: 1660px) {
  .history .content {
    padding: 5rem;
    line-height: 4rem;
  }
  .history .content h3 {
    font-size: 3.5rem;
  }
  .history .content h2 {
    font-size: 6rem;
  }
  .history .content p {
    font-size: 2rem;
  }
}

@media (max-width: 1220px) {
  .history {
    background-position: right;
    min-height: auto;
  }
  .history .content {
    padding: 1rem 3rem 4rem 3rem;
    line-height: 3.3rem;
  }
  .history .content h3 {
    font-size: 2.5rem;
  }
  .history .content h2 {
    font-size: 4rem;
    margin-bottom: 5px;
  }
  .history .content p {
    font-size: 1.5rem;
    line-height: 1.5rem;
  }
}

/*servicios*/
.services {
  position: relative;
  background-image: url(assets/servicios.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  width: 100%;
  height: 700px;
  background-color: #fff;
}
.services .content {
  line-height: 4rem;
  padding: 10rem 10rem 10rem 10rem;
}
.services .content h3 {
  margin: 0;
  color: #404041;
  font-weight: bold;
  font-size: 5rem;
}
.services .content p {
  margin: 0;
  color: #404041;
  font-weight: 400;
  margin-top: 10px;
  line-height: 45px;
  font-size: 2.5rem;
}
.services .content h2 {
  color: #f19622;
  font-size: 5rem;
  margin-bottom: 0;
  margin-top: 0;
  line-height: 1;
}
.services .content .gray {
  color: #404041;
}
.services .content .white-box-with-orange-frange {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  max-width: 700px;
  padding: 1rem 1rem 1rem 2rem;
  border-left: 5px solid #f19622;
  margin-top: 1rem;
  margin-left: 1rem;
}
.services .content .white-box-with-orange-frange p {
  font-size: 1.7rem;
  color: #7a7a7b;
  font-weight: normal;
}

/* media query services */
@media (max-width: 1420px) {
  .services {
    height: 500px;
  }
  .services .content {
    line-height: 4rem;
    padding: 5rem;
  }
}
@media (max-width: 1220px) {
  .services {
    height: 400px;
  }
  .services .content {
    line-height: 4rem;
    padding: 6rem;
  }
  .services .content h3 {
    font-size: 3rem;
  }
  .services .content p {
    font-size: 2rem;
  }
  .services .content h2 {
    font-size: 3rem;
  }
}

/* mounts */

.mounts {
  margin-top: -16px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 3rem;
}
.mounts h3 {
  background-color: #fff;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 10px 30px;
  font-size: 3rem;
  font-weight: normal;
  color: #f19622;
  margin-bottom: 0;
}
.mounts h2 {
  font-weight: bold;
  font-size: 4.8rem;
  margin-top: 10px;
  color: #f19622;
}
.mounts .glasses-img {
  margin-top: -6rem;
}
.mounts .glasses-img img {
  width: 100%;
}

@media (max-width: 1000px) {
  /* mounts media query */
  .mounts {
  }
  .mounts h3 {
    font-size: 2rem;
  }
  .mounts h2 {
    font-size: 3rem;
    margin-bottom: 3rem;
  }
  .mounts .glasses-img {
    margin-top: -4rem;
  }
}
/* footer */

.footer {
  background-color: #f19622;
  padding: 5rem 8rem;
  display: flex;
}
.footer .left-side {
  width: 50%;
}
.footer .left-side img {
  width: 50%;
}
.footer .left-side p {
  color: #fff;
  font-size: 1.7rem;
  margin-bottom: 0;
}

.footer .left-side span {
  color: #fff;
  font-size: 1.7rem;
}

.footer .left-side .logo-with-info {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}
.footer .left-side .logo-with-info img {
  width: 20px;
  height: 20px;
  background-color: #404041;
  padding: 8px;
}
.footer .left-side .logo-with-info a {
  font-family: "Gilroy";
  font-size: 1.7rem;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

.footer .right-side {
  width: 50%;
}
.footer .right-side .locations {
  display: flex;
  align-items: center;
  gap: 20px;
}
.footer .right-side .locations h3 {
  color: #fff;
  font-size: 1.5rem;
}
.footer .right-side .locations .white-line {
  width: 100%;
  border: 2px solid #fff;
}
.footer .right-side .locations-flex {
  display: flex;
  justify-content: space-between;
}
.footer .right-side .locations-flex .left-content h2 {
  margin-bottom: 5px;
  color: #404041;
  margin-top: 0;
}
.footer .right-side .locations-flex .left-content p {
  color: #fff;
  margin: 5px 0;
  font-size: 1.2rem;
}
.footer .right-side .locations-flex .right-content h2 {
  margin-bottom: 5px;
  color: #404041;
  margin-top: 0;
}
.footer .right-side .locations-flex .right-content p {
  color: #fff;
  margin: 5px 0;
  font-size: 1.2rem;
}

/* footer media query */

@media (max-width: 1220px) {
  .footer {
    padding: 3rem;
  }
  .footer .left-side {
  }
  .footer .left-side p {
    line-height: 1.1;
    margin-bottom: 10px;
  }
  .footer .left-side .logo-with-info {
    margin-top: 15px;
  }
  .footer .right-side .locations-flex {
    gap: 20px;
  }
}
